.fun__LoginContainer {
    width: 100%;
    padding: 250px 0 20% 0;
    background-color: #6A0DAD;
    z-index: 80;
    display: flex;
    justify-content: center;
    height: 100%;
}


.fun__formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: 18rem;
    padding-top: 2rem;
    border: 2px solid rgb(189, 203, 216);
    border-radius: .5rem;
    background-color: whitesmoke;
    align-items: center;
}

.fun__formInput {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.fun__formInput input {
    padding: .5rem .5rem .5rem .7rem;
    width: 20rem;
    border: none;
    border-radius: .2rem;
    outline: none;
    background-color: #c0d0ee;
    color: #333333;
    font-weight:500;
}

.fun__formInput label {
    text-align: start;
    padding-left: .7rem;
    font-size: small;
    font-weight: 600;
    padding-bottom: .2rem;
    color: rgb(61, 61, 61);
}

.fun__forgotPassword {
    padding: .2rem 0rem 0rem .5rem;
    text-align: start;
    text-decoration: underline;
    cursor: pointer;
}

.fun__loginButton {
    padding-bottom: 2rem;
}