.fun__chatBoxContainer {
    height: 100%;
}

.fun__chatForm {
    display: grid;
    height: 100%;
    /* grid-template-rows: 1fr 10.5fr 1.5fr; */
    /* grid-template-rows: fit-content(10%) fit-content(80%) fit-content(10%);     */
    grid-template-rows: fit-content(8ch) auto fit-content(8ch);
    position: relative;
}

.fun__chatHeader {
    min-height: 0;
    /* background-color: #67ddb6; */
    background-color: #ac5ac0;
    border-radius: 10px 10px 0px 0px;
    padding: .4rem;
    grid-row: 1/2;
}

.fun__chatHeader >:first-child {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    line-height: 1.9rem;
}

.fun__chatBodyTop {
    padding-bottom: .2rem;
}
.fun__chatBody {
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;  
    background-color: #ebe9e9;
    padding-bottom: .3rem;
    grid-row: 2/3;
    top: 0;
    bottom: 0;
    position: absolute;
    padding-top: .3rem;
    width: 100%;
}

.fun__chatBodyMessage {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 1rem;
    

}

.fun__messageContent{
    padding: 10px;
    border-radius: 5px;
    background-color: #ac5ac0;
    /* background-color: rgb(145, 129, 233); */
    color: white;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: .2rem;
}

.fun__currentUser {
    background-color: rgb(145, 129, 233);
}


.fun__messageProfile {
    display: flex;
    align-content: center;
    align-items: center;
}

.fun__messageProfile > h3 {
    font-size: 11px;
    text-align: start;
    padding-bottom: .2rem;
}

.fun__messageProfile >:first-child {
    width: 1.1rem;
    margin-right: .2rem;
}

.fun__chatBody >:first-child {
    margin-top: auto !important;
}

.fun__chatInput {
    position: relative;
    display: flex;
    min-height: 0;
    box-shadow: -2px -4px 7px 1px rgba(166,166,166,0.75);
    -webkit-box-shadow: -2px -4px 7px 1px rgba(153, 131, 131, 0.75);
    -moz-box-shadow: -2px -4px 7px 1px rgba(166,166,166,0.75);
    border-radius: 0px 0px 10px 10px;
    grid-row: 3/4;
    
}

.fun__chatInput >:first-child {
    flex: 1;
    text-align: right;
    border: none;
    outline: none;
    background-color: #efededa1;
    padding-right: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0px 0px 0px 10px;
    font-size: 1rem;
}

.fun__chatInput > button {
    position: absolute;
    right: 10px;
}

::-webkit-scrollbar {
    height: 6px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #ab74a7b5;
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

