
.fun__dropDown {
    width: 12rem;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: ghostwhite;
    border: 1px solid #e9e5e5;
    box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -moz-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
}

.fun__messageDropDown {
    width: 18rem !important;
    height: 18rem !important;
    
}
.fun__messageDropDown >h1 {
    font-size: 14px;
    padding: .2rem;
}

.message__items {
    background-color: rgb(231, 208, 238);
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    color: rgb(71, 64, 64) !important;
    border: 1px solid #e9e5e5;
    box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -moz-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
}
.messageDropDown {
    overflow-y: auto;
}
.message__items > h3 {
    font-size: 14px;
    padding: .2rem;
}
.message__items >p {
    font-size: 13px;
    padding: .2rem;
    color: rgb(71, 64, 64) !important;
}


.fun_dropDownItems >:last-child {
    border-top: 2px solid #f1dddd;
    padding-top: .5rem;
    margin-top: .4rem;
}   

.profile__items {
    display: flex;
    padding: .3rem .2rem;
    color: rgb(90, 70, 70);
    font-size: 14px;
    font-weight: 600;
}

.profile__items >:first-child {
    margin-right: .5rem;
}

.profile__items >:last-child {
    text-decoration: none;
    padding-top: .2rem;
    color: rgb(90, 70, 70);
}
