.fun__signupContainer {
    width: 100%;
    padding: 200px 0 200px 0;
    background-color: #6A0DAD;
    z-index: 80;
    display: flex;
    justify-content: center;
    height: 100%;
}

.fun__formSignupWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    height: fit-content;
    padding-top: 2rem;
    border: 2px solid rgb(189, 203, 216);
    border-radius: .5rem;
    background-color: whitesmoke;
    align-items: center;
    background-color: ghostwhite;
    border: 1px solid #e9e5e5;
    box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -webkit-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
    -moz-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
}

.fun__signupLabel {
    text-align: center;
}

.fun__formInput {
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.fun__formInput input {
    padding: .5rem .5rem .5rem .7rem;
    width: 20rem;
    border: none;
    border-radius: .2rem;
    outline: none;
    background-color: #c0d0ee;
    color: #333333;
    font-weight:500;
}

.fun__formInput label {
    text-align: start;
    padding-left: .7rem;
    font-size: small;
    font-weight: 600;
    padding-bottom: .2rem;
    color: rgb(61, 61, 61);
}

.fun__signupBtn {
    padding: 1rem 0 2rem 0;
}

.fun__errMsgWrapper {
    width: 20rem;
    /* text-align: start; */
    padding: .5rem 0rem .5rem .7rem;
    
}