.fun__score {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    padding-right: 6rem;
}

.fun__scoreRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: .2rem;
    margin-left: .2rem;
}
.fun__scoreLeft {
    display: flex;
    flex-direction: row;
    margin-right: .2rem;
    justify-content: space-between;
}

.fun__scoreRight > h3 {
    align-self: center;
    padding-left: 1rem;
}

.fun__scoreLeft > h3 {
    align-self: center;
    padding-right: 1rem;
}

.fun__scorePoint {
    padding: 1rem;
    background-color: black;
    color: white;
}

.fun__changePassword {
    width: 400px !important;
}

.fun__countryWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

.fun__countryWrap >img {
    width: 48px;
    padding: 0 .6rem;
}

.fun__scoreUploadForm >p {
    font-size: .8rem;
    text-align: start;
    padding: .5rem .5rem !important;
}
.fun__scoreUploadForm >h3 {
    text-align: start;
    padding: .5rem .5rem !important;
}
.fun__scoreSelectEvent {
    display: flex;
    padding: .5rem;
}

.fun__scoreBoard {
    width: 450px !important;
}

.fun__resultWrapper {
    display: grid;
    grid-template-columns: 15rem 1fr 1fr 15rem;
}

.fun__scoreWrapper {
    grid-column: 2/3;
}

.fun__fixtureWrapper {
    grid-column: 3/4;
}

.fun__landingScoreWrapper {
    display: flex;
    padding: 2rem;

}

.fun__landingScoreBoard {
    width: 100% !important;
    min-width: 550px;
}

.fun__landScoreSection {
    padding: 2.5rem 15rem;
}


.fun__gameBrief {
    text-align: start;
    padding-left: 1rem;
}


@media (max-width: 1550px) {
    .fun__landScoreSection {
        padding: 2rem 7rem;
    }
    
}

@media (max-width: 1380px) {
    .fun__landScoreSection {
        padding: 2rem 5rem;
    }
}


@media (max-width: 1080px) {
    .fun__landScoreSection {
        padding: 2rem 2rem;
    }
}

/* mobile view */

@media (max-width: 855px) {
    .fun__landScoreSection {
        padding: 2rem 2rem;
    }
}