
.fun__bodySections {
    display: flex;
    flex-direction: column;
}


.fun__bodyHome {
    width: 100%;
    padding: 250px 0 180px 0;
    background-color: #6A0DAD;
    z-index: 80;
}

.fun__bodyHomeDesc {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.fun__descText {
    padding-top: 5rem;
    grid-row: 1/2;
}

.fun__descBtn {
    padding-top: 32px;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
}
.fun__descBtn div:nth-of-type(1) {
    margin: 0 32px;
}
.fun__bodyHomeContainer {
    display: grid;
    grid-template-columns: 15rem 1fr 1fr 15rem;
}

.fun__bodyHomeDesc {
    grid-column: 2/3;
}

.fun__bodyHomeDesc h1 {
    font-size: 3.5rem;
    padding: 2rem 2rem 0rem 2rem;
    color: aliceblue;
    text-align: left;
}

.fun__bodyHomeDesc p {
    font-size: 1.4rem;
    padding: 2rem;
    text-align: left;
    color: white;
}

.fun__bodyScore {
    transition: all 0.3 ease-in-out 0s;
    background-color: #f9f9f9;
}

.fun__bodyHomePromo {
    grid-column: 3/4;
    /* margin-top: auto; */
    margin-top: 2rem;
    margin-bottom: auto;
    padding-left: 2rem;
    padding-right: 3rem;
}

.fun__landingSectionTitle {
    padding: 2rem 0rem;
}

.fun__landingSectionTitle >:first-child {
    font-size: 48px;
    color: rgba(170, 33, 224, 0.781);
}

.fun__seeMore {
    padding: .5rem .5rem 2rem .5rem;
    color: #6A0DAD;
    text-decoration: underline;
    cursor: pointer;
}


.fun__bodyNews {
    padding: 3rem 15rem;
}

.fun__landingNews {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 1rem;
    justify-content: center;
    padding-bottom: 10rem;
}

.fun__landingNewsBrief {
    padding: 3rem;
    color: white;
}

.fun__landingNewsBrief >:first-child {
    padding-bottom: 1.5rem;
    font-size: 32px;
}

.fun__landingNewsBrief >:last-child {
    padding-bottom: 3rem;
    font-size: 16px;
    color: rgb(214, 206, 206);
}


.fun__bodyNews >h3 {
    color: white;
}

.fun__bodyNews > p {
    color: rgb(218, 208, 228);
}

.fun__landingHighlightBrief {
    padding: 3rem;
}

.fun__landingHighlightBrief >:first-child {
    padding-bottom: 1.5rem;
    font-size: 32px;
}

.fun__landingHighlightBrief >:last-child {
    padding-bottom: 3rem;
    font-size: 16px;
    color: gray;
}


.fun__bodyHighlights {
    background-color: #f9f9f9;
}


.fun__bodyContactUs {
    /* display: flex; */
    display: grid;
    grid-template-columns: 15rem 1.8fr 1fr 15rem;
    position: relative;
    flex-direction: row;
}

.fun__bodyContactBrief {
    background-color: #a3a9be38;
    grid-column: 1/3;
    color: white;
    padding: 5rem 15rem;
}

.fun__bodySpare {
    background-color: #e5dfe787;
    /* padding: 15rem 0rem; */
    grid-column: 3/5;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.fun__bodySpare >img {
    background-size: contain;
    width: 100%;
    height: calc(100vh - 300px);
}

.fun__contactWrapper {
    position: absolute;
    right: 0;
    padding-right: 20rem;
    padding-top: 7rem;
}


.fun__contactUsOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.397);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fun__fixContactWidth {
    width: 600px;
    border-radius: 0.5rem;
    background-color: ghostwhite;
    border: 1px solid #e9e5e5;
    box-shadow: 5px 5px 12px 0px rgb(168 102 146 / 18%);
    -webkit-box-shadow: 5px 5px 12px 0px rgb(168 102 146 / 18%);
    -moz-box-shadow: 5px 5px 12px 0px rgba(168,102,146,0.18);
}

.fun__contactForm {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
}

@media (max-width: 1550px) {
    .fun__bodyHomePromo {
        width: 580px;
        height: 400px;
    }
    .fun__bodyHomeContainer {
        grid-template-columns: 7rem 1fr 1fr 7rem;
    }

    .fun__bodyNews {
        padding: 3rem 7rem;
    }
    
}

@media (max-width: 1380px) {
    .fun__bodyHomePromo {
        width: 580px;
        height: 400px;
    }

    .fun__bodyNews {
        padding: 3rem 5rem;
    }

    .fun__bodyHomeDesc h1 {
        font-size: 3rem;
    }

    .fun__bodyHomeDesc p {
        font-size: 1.2rem;
    }

    .fun__bodyHomeContainer {
        grid-template-columns: 5rem 1fr 1fr 5rem;
    }
}


@media (max-width: 1080px) {
    .fun__bodyHomeContainer {
        grid-template-columns: 2rem 1fr 1fr 2rem;
    }


    .fun__bodyNews {
        padding: 3rem 2rem;
    }

    .fun__bodyHomeDesc h1 {
        font-size: 2.5rem;
    }

    .fun__bodyHomeDesc p {
        font-size: 1rem;
    }
}

/* mobile view */

@media (max-width: 855px) {
    .fun__bodyHomeContainer {
        grid-template-columns: 2rem 1fr 1fr 2rem;
    }

    .fun__bodyNews {
        padding: 3rem 2rem;
    }
}