.fun__broadcastContainer {
    min-height: 100vh;
    display: grid;
    grid-template-rows: .25fr 8fr;
    /* grid-auto-rows: minmax(100px, auto);    */
}
.fun__broadcastNav {
    height: 5.8rem;
    grid-row: 1/2;
}
.fun__broadcastBody {
    grid-row: 2/3;
    min-height: 100vh;
    background-color: #c9b2d191;
}