.fun__highlightsMain {
    width: 100%;
    min-height: 100vh;
    background-color: #c9b2d191;
}

.fun__highlightsMainWrapper {
    display: grid;
    grid-template-columns: 15rem 1.9fr 1fr 15rem;
    padding-top: 2rem;
    
    /* height: 100vh; */
    /* background-color: #c9b2d191; */
}


.fun__highlightsLiveWatch {
    grid-column: 2/3;
    padding-left: 1.5rem;
    min-width: 550px;
    padding-right: .5rem;
}

.fun__highlightsVideoBox {
    grid-column: 3/4;
    justify-self: start;
    width: 100%;
    padding-right: 4rem;
    padding-left: 1rem;
}

.fun__highlightVideoDetails >:first-child {
    padding: .5rem;
    border-top: 1px solid gray;
}

.fun__videoDesc {
    width: 100%;
}
.fun__videoDescHead {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
}

.fun__videoDescHead >:first-child {
    padding-top: .4rem;
    text-align: start;
    font-size: 1.4rem;
}

.fun__videoStatus {
    padding-top: .6rem;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-weight: 600;
}

.fun__videoViews {
    grid-column: 1/2;
    place-self: start;
    margin: auto 0;
}

.fun__videoButtons {
    grid-column: 2/3;
    display: flex;
    place-self: end;
    margin: auto 0;
}

.fun__miniButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.2rem;
}

/* lower description */
.fun__videoLowerDesc {
    display: grid;
    grid-template-columns: 15rem 1.9fr 1fr 15rem;
    padding-top: 1rem;
    text-align: justify;
}

.fun__highlightVideoDetails {
    grid-column: 2/3;
    padding-right: 2rem;
    /* padding-left: 1.5rem; */
    min-width: 550px;
    text-align: justify;
}

.fun__highlightList {
    padding-top: 1rem;
}


@media (max-width: 1550px) {

    .fun__highlightsMainWrapper {
        /* padding: 0 7rem;  */
        grid-template-columns: 7rem 1.3fr 1fr 7rem;
    }

    .fun__videoLowerDesc {
        grid-template-columns: 7rem 1.3fr 1fr 7rem;
    }
    
}

@media (max-width: 1380px) {
    .fun__highlightsMainWrapper {
        /* padding: 0 5rem;  */
        grid-template-columns: 5rem 1.3fr 1fr 5rem;
    }

    .fun__videoLowerDesc {
        grid-template-columns: 5rem 1.3fr 1fr 5rem;
    }
    
}


@media (max-width: 1080px) {
    .fun__highlightsMainWrapper {
        grid-template-columns: 2rem 1.3fr 1fr 2rem;
    }

    .fun__videoLowerDesc {
        grid-template-columns: 2rem 1.3fr 1fr 2rem;
    }
    .fun__advertisement img {
        width: 100%;
    }
}
